
body {
    background-color: darkslategrey;
}

.lista1 {
    margin-top: 15px;
}

.info {
    margin-top: 70px;
}

.con1{
    color: white;
    background-color: rgb(17, 23, 34);
}



#elemento{
    background-color: rgb(49, 12, 6);
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: inherit;
   
}



