.header {
    background-image: url(../img/img3.png);
    background-size: cover;
    height: 30vh
  }

  .header .navbar {
    background-color: transparent !important;
  }

  .text1 {
    height: 100vh;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .textin {
    margin-top: 65px;
    margin-bottom: 40px;
  }

footer{
    background-color: rgb(53, 68, 68);
}


  #footer{
      background-color: rgb(218, 229, 231);
  }


  

  